<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
  <property name="pattern"
            value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread%X{sourceThread}][%X{traceId}] %logger{32}:[%line] - %msg%n"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${pattern}</pattern>
    </encoder>
  </appender>

  <appender name="CONSOLE-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>10000</queueSize>
    <neverBlock>true</neverBlock>
    <includeCallerData>true</includeCallerData>
    <appender-ref ref="CONSOLE"/>
  </appender>

  <logger name="io.github.ralphhuang.distrbute.locks" level="warn" additivity="false">
    <appender-ref ref="CONSOLE-ASYNC"/>
  </logger>

  <logger name="io.github.ralphhuang.distrbute.locks.examples" level="info" additivity="false">
    <appender-ref ref="CONSOLE-ASYNC"/>
  </logger>

  <!--  <root level="DEBUG">-->
  <root level="INFO">
    <appender-ref ref="CONSOLE-ASYNC"/>
  </root>

</configuration>
